<header>
	<div class="wrap">
	<a class="logo" href="https://webpages.uncc.edu/wcolvill/itis3135/activities/clean/home.html"><img src="images/logo.jpg" alt="logo">Clean</a>
	<nav class="navlinks">
		<a class="off" href="https://webpages.uncc.edu/wcolvill/itis3135/activities/clean/info.html">Info</a>
		<a style="color: #24c4dc" class="off" href="https://webpages.uncc.edu/wcolvill/itis3135/activities/clean/recruit.html">Recruitment</a>
		<a class="off" href="https://webpages.uncc.edu/wcolvill/itis3135/activities/clean/pics.html">Screenshots</a>
		<a style="color: #24c4dc" class="off" href="https://webpages.uncc.edu/wcolvill/itis3135/activities/clean/videos.html">Videos</a>
	</nav>
	</div>
</header>
<div class="banner"></div>
<h2 class="slogan">We Read The Raid!</h2>