p {
	text-align: center;
	font-family: papyrus;
	font-size: 50px;
	background-color: green;
}
h2 {
	font-family: comic sans;
	border-style: solid;
	border-width: 7px;
	border-color: grey;
}
ol {
	text-align: center;
}
img {
	opacity: 20%;
}
h1 {
	text-decoration: underline;
}