<footer>
	<p class="copyright"><em>Page Designed and Copyrighted by Wicked Cougar Industries, Ltd. 2021</em></p>
	<div class="validate">
		<a class="a1" href="https://validator.w3.org/check?uri=referer">
			<img src="images/button-valid-html5.gif" width="88" height="31" alt="Link to HTML validator">
		</a>

		<a class="a2" href="https://jigsaw.w3.org/css-validator/check/referer">
			<img src="images/button-valid-css.gif" width="88" height="31" alt="Link to CSS validator">
		</a>
	</div>
</footer>