<header>
	<div class="wrap">
		<div class="logo">
			<a href="https://webpages.uncc.edu/wcolvill/itis3135/activities/Brand/brand-home.html"><img src="images/logo.jpg" alt="Logo Image">Wicked Cougar</a>
		</div>
		<nav id="nav">
			<a href="https://webpages.uncc.edu/wcolvill/itis3135/activities/Brand/brand-home.html">Home</a>
			<a href="https://webpages.uncc.edu/wcolvill/itis3135/activities/Brand/brand-team.html">Our Team</a>
			<a href="https://webpages.uncc.edu/wcolvill/itis3135/activities/Brand/brand-contact.html">Contact</a>
		</nav>
	</div>
</header>
<div class="banner">
	<h2>Websites Made Easy</h2>
</div>